{% extends "emails/base_email.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}

<h2 style="margin-top:0;">
Welcome to {{ gym_name }} 🎉
</h2>

<p>Dear {{ member_name }},</p>

<p>
Welcome to <strong>{{ gym_name }}</strong>!
We’re excited to have you as part of our fitness family and truly appreciate your decision to start your fitness journey with us.
</p>

<p>
At <strong>{{ gym_name  }}</strong>, our goal is to help you stay motivated, train safely, and achieve real results—whether your focus is strength, weight loss, endurance, or overall wellness.
</p>

<hr>

<h3>🏋️ Getting Started</h3>
<ul>
  <li>Please feel free to approach our trainers for guidance during your workouts.</li>
  <li>We recommend starting with a basic fitness assessment to understand your goals and training plan.</li>
  <li>Always use proper workout attire and re-rack equipment after use for everyone’s safety and comfort.</li>
</ul>

<hr>


<h3>👤 Gym Owner / Management Contact</h3>

<table cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td style="background:#ffc107;border-radius:6px;">
      <a href="https://wa.me/918808191829?text=Hi%20I%20am%20joining%20your%20gym%20and%20I%20have%20a%20query      "
        style="
           display:inline-block;
           padding:10px 16px;
           font-weight:bold;
           color:#000000;
           text-decoration:none;
           font-size:14px;
         ">
        📞 Contact Gym Management
      </a>
    </td>
  </tr>
</table>

<p>
<strong>Phone:</strong> +91 8808191829 <br>
<strong>Email:</strong> owner@powerhousegym.com
</p>

<p>
Feel free to contact us anytime if you have questions, need assistance, or want to discuss your fitness goals.
</p>

<hr>

<h3>📍 Gym Details</h3>

<p>
<strong>Address:</strong><br>
THE POWER HOUSE GYM, RN 27, Rasoolpur Nawada,<br>
Industrial Area, Sector 62, Noida,<br>
Uttar Pradesh 201309
</p>

<p><strong>Working Hours:</strong> 7:00 AM – 10:00 PM</p>

<!-- Google Maps Button -->
<table cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td style="background:#ffc107;border-radius:6px;">
      <a href="https://www.google.com/maps/search/?api=1&query=THE+POWER+HOUSE+GYM+Sector+62+Noida"
         style="
           display:inline-block;
           padding:10px 16px;
           font-weight:bold;
           color:#000000;
           text-decoration:none;
           font-size:14px;
         ">
        📍 View Location on Google Maps
      </a>
    </td>
  </tr>
</table>

<p>
We’re here to support you every step of the way. Stay consistent, stay positive, and trust the process—you’ve taken the first step toward a healthier you!
</p>

<p>
Welcome once again to <strong>{{ member.organization.name }}</strong> 💪<br>
We look forward to seeing you train.
</p>

<p>
Warm regards,<br>
<strong>{{ member.organization.name }} Team</strong><br>
Management<br>
<strong>{{ member.organization.name }}</strong>
</p>

{% endblock %}
